@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('image2.jpg');
  min-height:100%;
  opacity: 1;
}

.pimg2{
  background-image:url('xbox.jpg');
  min-height:400px;
  opacity:0.70;
}

.pimg3{
  background-image:url('control.jpg');
  min-height:400px;
  opacity:0.70;
}

.section{
  text-align:center;
  padding:50px 80px;
  background-color:#282e34;
  color:#ddd;
}

/*.section-light{
  background-color:#f4f4f4;
  color:#666;
}*/

.section-dark{
  background: linear-gradient(-45deg, #000000, #434343);
  color:#ddd;
}

.ptext{
  position:absolute;
  top:35%;
  width:100%;
  text-align:center;
  font-size:2.6vw;
  letter-spacing:8px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.ptext .border{
  background-color:black;
  color:#fff;
  padding:30px;
  opacity: 1;
}

.txt {
  color: #ffffff;
  background:#000000;
  
  font-weight: bold;
  font-family: "Press Start 2P";
  text-transform: uppercase;
}
.txt::before {
  content: 'Game Box';
  position: absolute;
  mix-blend-mode: difference;
}
.txt::before {
  content: 'Game Box';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(1px);
}
.neon-wrapper {
  display:inline-flex;
  filter: brightness(200%);
}
.gradient{
  background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1),rgba(229, 151, 64,1));
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  mix-blend-mode: multiply;
}

/*.ptext .border.trans{
  background-color:transparent;
}*/

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

/*log-in modal text neon*/
.txt-form {
  color: #ffffff;
  background:#000000;
  
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.txt-form::before {
  content: 'Log-In!';
  position: absolute;
  mix-blend-mode: difference;
}
.txt-form::before {
  content: 'Log-In!';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(1px);
}
.neon-wrapper-form {
  display:inline-flex;
  filter: brightness(200%);
}
.ptext-form{
  padding-top:10%;
  width:100%;
  text-align:center;
  font-size:1.6vw;
  letter-spacing:8px;
  font-weight: bold;
  justify-content: center;
}


/*sign up modal text neon*/
.txt-sign {
  color: #ffffff;
  background:#000000;
  
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.txt-sign::before {
  content: 'Sign-Up!';
  position: absolute;
  mix-blend-mode: difference;
}
.txt-sign::before {
  content: 'Sign-Up!';
  position: absolute;
  mix-blend-mode: difference;
  filter: blur(1px);
}
.neon-wrapper-sign {
  display:inline-flex;
  filter: brightness(200%);
}
.ptext-sign{
  padding-top:10%;
  width:100%;
  text-align:center;
  font-size:1.6vw;
  letter-spacing:8px;
  font-weight: bold;
  justify-content: center;
}
